* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}


main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);

  border-radius: 0px 0px 16px 16px ;
  margin-top: -25px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4 ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  padding-top: 50px;
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

button {
  background-color: rgb(178, 243, 229);
  display: inline-block;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 1em;
  padding: 5px 20px;
  cursor: pointer;
  border: none;
  opacity: 0.7;
  font-weight: bold;
  transition: background-color 0.4s ease;
}

button:hover {
  background-color: rgb(25, 223, 180);
}


.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 20px;

  color: #fff;
  font-size: 100px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2) ;
}

.weather-box .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

.snow {
  background-image: url('./assets/snow.png');
  background-size: cover;
}

.mist {
  background-image: url('./assets/fog.png');
  background-size: cover;
}

.haze {
  background-image: url('./assets/haze.png');
  background-size: cover;
}


.fog {
  background-image: url('./assets/fog.png');
  background-size: cover;
}

.clouds {
  background-image: url('./assets/clouds.png');
  background-size: cover;
}

.rain {
  background-image: url('./assets/rain.png');
  background-size: cover;
}

.thunderstorm {
  background-image: url('./assets/storm.png');
  background-size: cover;
}

.clear {
  background-image: url('./assets/clear.png');
  background-size: cover;
}

.base {
  background-image: url('./assets/base.png');
}